<!doctype html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>庐山市锦磊石材有限公司</title>
    <meta content="天然板岩,砂岩,蘑菇石,文化石,火烧板,花岗岩,乱型石,异型石材" name="keywords"/>
    <meta content="石材加工、销售为一体，江西星子文化石资源丰富，品种繁多，是全国知名天然文化石生产基地之一。主营产品：天然板岩、砂岩、蘑菇石、文化石、火烧板、花岗岩，乱型石，异型石材，等各种规格石材制品的大型企业。"
          name="description"/>
    <meta content="telephone=no" name="format-detection">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" name="viewport">

    <link href="css/aos.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/idangerous.swiper.css" rel="stylesheet"/>
    <link href="css/lightbox.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
    <link href="css/apmin.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="css/me.css">

    <script src="js/jquery.min.js" ></script>
    <script src="js/vue-2.6.10.js"></script>
    <script src="js/templete.js"></script>
</head>

<body>

<!--轮播栏-->
<div class="am-add" id="banner_mobile">
    <banner_mobile></banner_mobile>
</div>

<!--轮播结束-->

<!--浮动栏-->
<section id="nav_mobile" >
    <nav_mobile></nav_mobile>
</section>

<!--产品中心-->
<div class="ng-container ng-fault" id="ng-container">

    <div class="ng-inmod ng-fault ng-paddor ng-bg-assist">
        <div class="ng-inmod-ini">

            <div class="ng-fault ng-container">
                <div class="ng-inmod-the ng-container ng-bg-assist">
                    <span class="ng-inmod-the-bg ng-inmod-the-bg-left" >
                        <img src="images/insie1.png" alt=""/></span>
                    <span class="ng-inmod-the-bg ng-inmod-the-bg-right" >
                        <img src="images/insie2.png" alt=""/></span><span
                        class="ng-inmod-the-cn">产品中心</span>
                    <span class="ng-inmod-the-en" >PRODUCT</span>
                </div>
                <span class="ng-inmod-thebor" aos="fade-up"></span>
            </div>

            <div class="ng-incontlst ng-fault ng-container ng-ai-drive1_map" aos="fade-up">
                <div class="ng-incontlst-doc ng-incontlst-doc-show">
                    <div class="row lhy_pro_list">
<!--                        v-if="index <= 7"-->
                        <div class="ng-incontlst-col" v-for="(item, index) in items" aos="fade-up">
                            <div class="ng-incontlst-bor">
                                <div class="ng-incontlst-img ng-oa ng-fault">
                                    <a :href="'index1-' + (index + 1) + '.html#nav_mobile'" v-if="index < 18">
                                        <img :src="'.' + item[0].pic" :alt="item[0].title"/>
                                    </a>
                                    <a :href="'index2-' + (index - 17) + '.html#nav_mobile'" v-if="index >= 18">
                                        <img :src="'.' + item[0].pic" :alt="item[0].title"/>
                                    </a>
                                </div>
                                <div class="ng-fault ng-container">
                                    <div class="ng-incontlst-tit">
                                        <p>{{item[0].title}}</p>
                                        <span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--公司简介-->
    <div class="ng-inmod ng-fault ng-paddor ng-bg-fff">
        <div class="ng-inmod-ini">
            <!--动态-->
            <div class="ng-fault ng-container">
                <div class="ng-inmod-the ng-container ng-bg-fff">
                    <span class="ng-inmod-the-bg ng-inmod-the-bg-left" aos="fade-down-right">
                        <img src="images/insie1.png" alt=""/>
                    </span><span
                        class="ng-inmod-the-bg ng-inmod-the-bg-right" aos="fade-up-left">
                    <img src="images/insie2.png" alt=""/></span><span
                        class="ng-inmod-the-cn" aos="fade-down">公司简介</span>
                    <span class="ng-inmod-the-en" aos="fade-up">ABOUT US</span>
                </div>

                <span class="ng-inmod-thebor" aos="fade-up"></span></div>

            <div class="ng-abst ng-fault ng-container" aos="fade-up">
                <div class="row">

                    <div class="col-md-7">
                        <div class="ng-abstimg ng-fault">
                            <img src="images/home/7.jpg" alt="公司照片"/></div>
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="ng-abst-the ng-container ng-fault">
                                    <div class="ng-abst-the-tit">公司简介</div>
                                    <a href="index3.html" class="ng-abst-the-ikk">More</a></div>
                                <div class="ng-abst-text ng-fault">
                                    <p><strong>庐山市锦磊石材有限公司</strong>位于美丽的江西省星子横塘镇，集矿山开采、石材加工、销售为一体，江西星子文化石资源丰富，品种繁多，是全国知名天然文化石生产基地之一。主营产品：天然板岩、砂岩、蘑菇石、文化石、火烧板、花岗岩，乱型石，异型石材，等各种规格石材制品的大型企业。</p>
                                    <p >公司发展迅速，技术实力雄厚，本公司秉承“以质量求生存，以创新求发展”的指导思想，始终把质量和创新放在首位， 庐山市俊鑫石材有限公司全体员工欢迎各级领导、各届人士检查指导工作，开展业务洽谈。</p>
                                    <p>联系人：胡金林 手机：13755265822（微信号）</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--工程案例-->
<div class="ng-inmod ng-fault ng-paddor ng-bg-assist">
    <div class="ng-inmod-ini">
        <div class="ng-fault ng-container">

            <div class="ng-inmod-the ng-container ng-bg-assist">
                <span class="ng-inmod-the-bg ng-inmod-the-bg-left" aos="fade-down-right">
                    <img src="images/insie1.png" alt=""/></span><span
                    class="ng-inmod-the-bg ng-inmod-the-bg-right" aos="fade-up-left">
                <img src="images/insie2.png" alt=""/></span><span
                    class="ng-inmod-the-cn" aos="fade-down">新闻资讯</span>
                <span class="ng-inmod-the-en" aos="fade-up">NEWS</span>
            </div>

            <span class="ng-inmod-thebor" aos="fade-up"></span>

        </div>

        <div class="ng-neswipe ng-fault ng-container ng-bg-fff" aos="fade-up">
            <div class="ng-fault ng-container">
                <div class="ng-inzep swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="ng-inzep-img">
                                <div class="ng-inzep-ims ng-oa">
                                    <a href="index6-1.html">
                                        <img src="images/product/whs/乱板/14.jpg" alt="石材质量的鉴别以及石材"/></a></div>
                                <span class="ng-inzep-ims-bor"></span></div>
                            <div class="ng-inzep-iff">
                                <div class="ng-inzep-itit">石材质量的鉴别以及石材</div>
                                <div class="ng-inzep-idate">2019-11-03</div>
                                <div class="ng-inzep-text">1、看表面结构
                                    饰面石材品种较多，质量大不一样。如果用眼睛进行细查看便能鉴别其优劣。一般来说，均匀的细料结构的石材具有细腻的质感，为石材之佳品；粗糙及不等粒结构的石材其外...
                                </div>
                                <div class="ng-inzep-ikk ng-fault"><a href="index6-1.html">点击查看></a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="ng-inzep-img">
                                <div class="ng-inzep-ims ng-oa">
                                    <a href="index6-2.html">
                                        <img src="images/product/whs/黑石板/5.jpg" alt="做石材销售的基本要求和"/></a></div>
                                <span class="ng-inzep-ims-bor"></span></div>
                            <div class="ng-inzep-iff">
                                <div class="ng-inzep-itit">做石材销售的基本要求和</div>
                                <div class="ng-inzep-idate">2019-8-03</div>
                                <div class="ng-inzep-text">1、 了解公司背景（组织架构、发展历程、企业文化、等），尽快融入团队。
                                    2、 了解公司的经营方针和导向（发展规划、经营取向和定位等），每个大区或事业部经营策略也不一定完全相同...
                                </div>
                                <div class="ng-inzep-ikk ng-fault">
                                    <a href="index6-2.html">点击查看></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="ng-inmod ng-fault ng-paddor ng-bg-fff" id="gcal">
        <div class="ng-inmod-ini">
            <div class="ng-fault ng-container">

                <div class="ng-inmod-the ng-container ng-bg-fff">
                    <span class="ng-inmod-the-bg ng-inmod-the-bg-left" aos="fade-down-right">
                        <img src="images/insie1.png" alt=""/></span><span
                        class="ng-inmod-the-bg ng-inmod-the-bg-right" aos="fade-up-left">
                    <img src="images/insie2.png" alt=""/>
                </span><span class="ng-inmod-the-cn" aos="fade-down">工程案例</span>
                    <span class="ng-inmod-the-en" aos="fade-up">SPACE SHOW</span>
                </div>

                <span class="ng-inmod-thebor" aos="fade-up"></span></div>

            <div class="ng-ines ng-fault ng-container" aos="fade-up">
                <ul class="ng-ai-drive2">
                    <li><a href="javascript:" class=on>工程样例一</a></li>
                    <li><a href="javascript:">工程样例二</a></li>
                    <li><a href="javascript:">工程样例三</a></li>
                    <li><a href="javascript:">工程样例四</a></li>
                    <li><a href="javascript:">工程样例五</a></li>
                </ul>
            </div>

            <div class="ng-isenst ng-fault ng-container ng-ai-drive2_map" aos="fade-up">
                <div class="ng-isenst-doc" :class="{'ng-isenst-doc-show': index == 0}" v-for="(item, index) in items" >
                    <div class="row">
                        <div class="col-md-4 col-xs-6" v-for="(obj, index1) in item">
                            <div class="ng-isenst-bor"><a>
                                <img :src="'.' + obj.pic" alt="" class="ng-isenst-img"/><span
                                    class="ng-isenst-map"><span style="position:relative;"><span
                                    style="display:block;position:absolute; height:22px; line-height:22px; color:#fff;width:100%;top:50%;left:0px;margin-top:-11px;text-align:center;font-size:1.5rem;">工程案例</span></span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--载入页脚-->
<div class="am-end" id="am-end">
    <!--    底部菜单-->
    <ng-fault></ng-fault>

    <!--    底部信息-->
    <ng-siobox></ng-siobox>

</div>

<script>
    new Vue({
        el: '#gcal',
        data: {
            items: [[
                {title: "", pic: "/images/anli/2.jpg"},
                {title: "", pic: "/images/anli/14.jpg"},
                {title: "", pic: "/images/anli/15.jpg"},
            ], [
                {title: "", pic: "/images/anli/16.jpg"},
                {title: "", pic: "/images/anli/3.jpg"},
                {title: "", pic: "/images/anli/4.jpg"},
            ], [
                {title: "", pic: "/images/anli/5.jpg"},
                {title: "", pic: "/images/anli/6.jpg"},
                {title: "", pic: "/images/anli/7.jpg"},
            ], [
                {title: "", pic: "/images/anli/8.jpg"},
                {title: "", pic: "/images/anli/9.jpg"},
                {title: "", pic: "/images/anli/10.jpg"},
            ], [
                {title: "", pic: "/images/anli/11.jpg"},
                {title: "", pic: "/images/anli/12.jpg"},
                {title: "", pic: "/images/anli/13.jpg"},
            ]]
        }
    });
    new Vue({
        el: '#ng-container',
        data: {
            items: productImg
        }
    });
    new Vue({
        el: '#nav_mobile',
    });
    new Vue({
        el: '#banner_mobile',
    });
    new Vue({
        el: '#am-end'
    })
    $(function () {
        if ($(".flexslider").length != 0) {
            $('.flexslider').flexslider({
                animation: "fade",
                //smoothHeight: true,
                slideshowSpeed: 3000, // Integer: ms 滚动间隔时间
                animationSpeed: 600, // Integer: ms 动画滚动速度
                start: function (slider) {
                    //$('body').removeClass('loading');
                }
            });
        }
    });
</script>

<script src="js/jquery.min.js" ></script>
<script src="js/idangerous.swiper.min.js" ></script>
<script src="js/aos.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js"  type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.superslide.2.1.1.js"></script>
<script src="js/app.js" ></script>
<script src="js/jquery.flexslider-min.js" ></script>
</body>
</html>

