<!doctype html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>庐山市锦磊石材有限公司</title>
    <meta content="天然板岩,砂岩,蘑菇石,文化石,火烧板,花岗岩,乱型石,异型石材" name="keywords"/>
    <meta content="石材加工、销售为一体，江西星子文化石资源丰富，品种繁多，是全国知名天然文化石生产基地之一。主营产品：天然板岩、砂岩、蘑菇石、文化石、火烧板、花岗岩，乱型石，异型石材，等各种规格石材制品的大型企业。"
          name="description"/>
    <meta content="telephone=no" name="format-detection">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" name="viewport">

    <link href="css/aos.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/idangerous.swiper.css" rel="stylesheet"/>
    <link href="css/lightbox.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
    <link href="css/apmin.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="css/me.css">

    <script src="js/jquery.min.js" ></script>
    <script src="js/vue-2.6.10.js"></script>
    <script src="js/templete.js"></script>
</head>
<body>

<!--轮播栏-->
<div class="am-add" id="banner_mobile">
    <banner_mobile></banner_mobile>
</div>

<!--轮播结束-->


<section id="nav_mobile" style="position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    box-shadow: -3px 11px 9px 2px rgba(0, 0, 0, 0.1);
">
    <div class="container">
        <div class="row nav">
            <div class="nav_menu"><a href="./index.html">
                <i class="fa fa-home" aria-hidden="true" style="color: #FFD900"></i>
                <span>主页</span></a></div>

            <div class="nav_menu"><a href="./index1.html" >
                <i class="fa fa-cubes" aria-hidden="true" style="color: #6DD639"></i>
                <span>文化石系列</span></a></div>

            <div class="nav_menu"><a href="index-1.htm" >
                <i class="fa fa-cube" aria-hidden="true" style="color: #129AE3"></i>
                <span>花岗岩系列</span></a></div>

            <div class="nav_menu"><a href="index-18.htm" >
                <i class="fa fa-address-book-o" aria-hidden="true" style="color: #FF4A9F"></i>
                <span>公司简介</span></a></div>
            <div class="nav_menu"><a href="tel:13755265822" >
                <i class="fa fa-phone-square" aria-hidden="true" style="color: #8794A2"></i>
                <span>联系我们</span></a></div>
        </div>
    </div>
</section>



<div class="ng-container ng-fault" id="ng-container">
    <!--产品中心-->
    <div class="ng-inmod ng-fault ng-paddor ng-bg-assist">
        <div class="ng-inmod-ini">

            <div class="ng-fault ng-container">
                <div class="ng-inmod-the ng-container ng-bg-assist">
                    <span class="ng-inmod-the-bg ng-inmod-the-bg-left" >
                        <img src="images/insie1.png" alt=""/></span>
                    <span class="ng-inmod-the-bg ng-inmod-the-bg-right" >
                        <img src="images/insie2.png" alt=""/></span><span
                        class="ng-inmod-the-cn">产品中心</span>
                    <span class="ng-inmod-the-en" >PRODUCT</span>
                </div>
                <span class="ng-inmod-thebor" aos="fade-up"></span>
            </div>

            <div class="ng-incontlst ng-fault ng-container ng-ai-drive1_map" aos="fade-up">
                <div class="ng-incontlst-doc ng-incontlst-doc-show">
                    <div class="row lhy_pro_list">
<!--                        v-if="index <= 7"-->
                        <div class="ng-incontlst-col" v-for="(item, index) in items" aos="fade-up">
                            <div class="ng-incontlst-bor">
                                <div class="ng-incontlst-img ng-oa ng-fault"><a href="index-3.htm">
                                    <img :src="'.' + item[0].pic" :alt="item[0].title"/></a>
                                </div>
                                <div class="ng-fault ng-container">
                                    <div class="ng-incontlst-tit">
                                        <p>{{item[0].title}}</p>
                                        <span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--公司简介-->
    <div class="ng-inmod ng-fault ng-paddor ng-bg-fff">

        <div class="ng-inmod-ini">
            <!--动态-->
            <div class="ng-fault ng-container">
                <div class="ng-inmod-the ng-container ng-bg-fff">
                    <span class="ng-inmod-the-bg ng-inmod-the-bg-left" aos="fade-down-right">
                        <img src="images/insie1.png" alt=""/>
                    </span><span
                        class="ng-inmod-the-bg ng-inmod-the-bg-right" aos="fade-up-left">
                    <img src="images/insie2.png" alt=""/></span><span
                        class="ng-inmod-the-cn" aos="fade-down">公司简介</span>
                    <span class="ng-inmod-the-en" aos="fade-up">ABOUT US</span>
                </div>

                <span class="ng-inmod-thebor" aos="fade-up"></span></div>

            <div class="ng-abst ng-fault ng-container" aos="fade-up">
                <div class="row">

                    <div class="col-md-7">
                        <div class="ng-abstimg ng-fault">
                            <img src="images/1-1Z519215F0Q3.jpg" alt="公司照片"/></div>
                    </div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="ng-abst-the ng-container ng-fault">
                                    <div class="ng-abst-the-tit">公司简介</div>
                                    <a href="index-1.htm" class="ng-abst-the-ikk">More</a></div>
                                <div class="ng-abst-text ng-fault">
                                    <p><strong>庐山市锦磊石材有限公司</strong>位于美丽的江西省星子横塘镇，集矿山开采、石材加工、销售为一体，江西星子文化石资源丰富，品种繁多，是全国知名天然文化石生产基地之一。主营产品：天然板岩、砂岩、蘑菇石、文化石、火烧板、花岗岩，乱型石，异型石材，等各种规格石材制品的大型企业。</p>
                                    <p >公司发展迅速，技术实力雄厚，本公司秉承“以质量求生存，以创新求发展”的指导思想，始终把质量和创新放在首位， 庐山市俊鑫石材有限公司全体员工欢迎各级领导、各届人士检查指导工作，开展业务洽谈。</p>
                                    <p>联系人：胡金林 手机：13755265822（微信号）</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .ng-abst-text p {
        text-indent: 2rem;
        color: rgb(102, 102, 102);
        font-size: 14px;
        line-height: 28px;
    }
</style>
<script>
    new Vue({
        el: '#ng-container',
        data: {
            items: productImg
        }
    });
</script>

<div class="ng-inmod ng-fault ng-paddor ng-bg-assist">
    <div class="ng-inmod-ini">
        <div class="ng-fault ng-container">

            <div class="ng-inmod-the ng-container ng-bg-assist">
                <span class="ng-inmod-the-bg ng-inmod-the-bg-left" aos="fade-down-right">
                    <img src="images/insie1.png" alt=""/></span><span
                    class="ng-inmod-the-bg ng-inmod-the-bg-right" aos="fade-up-left">
                <img src="images/insie2.png" alt=""/></span><span
                    class="ng-inmod-the-cn" aos="fade-down">新闻资讯</span>
                <span class="ng-inmod-the-en" aos="fade-up">NEWS</span>
            </div>

            <span class="ng-inmod-thebor" aos="fade-up"></span>

        </div>

        <div class="ng-neswipe ng-fault ng-container ng-bg-fff" aos="fade-up">
            <div class="ng-fault ng-container">
                <div class="ng-inzep swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="ng-inzep-img">
                                <div class="ng-inzep-ims ng-oa">
                                    <a href="views/1.html">
                                        <img src="images/1-1Q103123112525.jpg" alt="石材质量的鉴别以及石材"/></a></div>
                                <span class="ng-inzep-ims-bor"></span></div>
                            <div class="ng-inzep-iff">
                                <div class="ng-inzep-itit">石材质量的鉴别以及石材</div>
                                <div class="ng-inzep-idate">2019-11-03</div>
                                <div class="ng-inzep-text">1、看表面结构
                                    饰面石材品种较多，质量大不一样。如果用眼睛进行细查看便能鉴别其优劣。一般来说，均匀的细料结构的石材具有细腻的质感，为石材之佳品；粗糙及不等粒结构的石材其外...
                                </div>
                                <div class="ng-inzep-ikk ng-fault"><a href="views/1.html">点击查看></a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">

                            <div class="ng-inzep-img">

                                <div class="ng-inzep-ims ng-oa">
                                    <a href="views/2.html">
                                        <img src="images/1-1Q103123054391.jpg" alt="做石材销售的基本要求和"/></a></div>
                                <span class="ng-inzep-ims-bor"></span></div>
                            <div class="ng-inzep-iff">
                                <div class="ng-inzep-itit">做石材销售的基本要求和</div>
                                <div class="ng-inzep-idate">2019-8-03</div>
                                <div class="ng-inzep-text">1、 了解公司背景（组织架构、发展历程、企业文化、等），尽快融入团队。
                                    2、 了解公司的经营方针和导向（发展规划、经营取向和定位等），每个大区或事业部经营策略也不一定完全相同...
                                </div>
                                <div class="ng-inzep-ikk ng-fault">
                                    <a href="views/2.html">点击查看></a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="ng-inmod ng-fault ng-paddor ng-bg-fff" id="gcal">
        <div class="ng-inmod-ini">
            <div class="ng-fault ng-container">

                <div class="ng-inmod-the ng-container ng-bg-fff">
                    <span class="ng-inmod-the-bg ng-inmod-the-bg-left" aos="fade-down-right">
                        <img src="images/insie1.png" alt=""/></span><span
                        class="ng-inmod-the-bg ng-inmod-the-bg-right" aos="fade-up-left">
                    <img src="images/insie2.png" alt=""/>
                </span><span class="ng-inmod-the-cn" aos="fade-down">工程案例</span>
                    <span class="ng-inmod-the-en" aos="fade-up">SPACE SHOW</span>
                </div>

                <span class="ng-inmod-thebor" aos="fade-up"></span></div>

            <div class="ng-ines ng-fault ng-container" aos="fade-up">
                <ul class="ng-ai-drive2">
                    <li><a href="javascript:" class=on>工程样例一</a></li>
                    <li><a href="javascript:">工程样例二</a></li>
                    <li><a href="javascript:">工程样例三</a></li>
                    <li><a href="javascript:">工程样例四</a></li>
                    <li><a href="javascript:">工程样例五</a></li>
                </ul>
            </div>

            <div class="ng-isenst ng-fault ng-container ng-ai-drive2_map" aos="fade-up">
                <div class="ng-isenst-doc" :class="{'ng-isenst-doc-show': index == 0}" v-for="(item, index) in items" >
                    <div class="row">
                        <div class="col-md-4 col-xs-6" v-for="(obj, index1) in item">
                            <div class="ng-isenst-bor"><a>
                                <img :src="'.' + obj.pic" alt="" class="ng-isenst-img"/><span
                                    class="ng-isenst-map"><span style="position:relative;"><span
                                    style="display:block;position:absolute; height:22px; line-height:22px; color:#fff;width:100%;top:50%;left:0px;margin-top:-11px;text-align:center;font-size:1.5rem;">印度红室内楼梯</span></span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#gcal',
        data: {
            items: [[
                {title: "", pic: "/images/anli/2.jpg"},
                {title: "", pic: "/images/anli/14.jpg"},
                {title: "", pic: "/images/anli/15.jpg"},
            ], [
                {title: "", pic: "/images/anli/16.jpg"},
                {title: "", pic: "/images/anli/3.jpg"},
                {title: "", pic: "/images/anli/4.jpg"},
            ], [
                {title: "", pic: "/images/anli/5.jpg"},
                {title: "", pic: "/images/anli/6.jpg"},
                {title: "", pic: "/images/anli/7.jpg"},
            ], [
                {title: "", pic: "/images/anli/8.jpg"},
                {title: "", pic: "/images/anli/9.jpg"},
                {title: "", pic: "/images/anli/10.jpg"},
            ], [
                {title: "", pic: "/images/anli/11.jpg"},
                {title: "", pic: "/images/anli/12.jpg"},
                {title: "", pic: "/images/anli/13.jpg"},
            ]]
        }
    });
    new Vue({
        el: '#nav_mobile',
    });
    new Vue({
        el: '#banner_mobile',
    });
    new Vue({
        el: '#am-end'
    })
</script>

<!--载入页脚-->

<style>

    .jishuzichis a {
        font-size: 12px;
        color: #878787;
    }

    .ng-siotext {
        line-height: 30px;
    }

    @media screen and (max-width: 992px) {

        .ng-zein-iten-link li {
            width: 50%;
            text-align: center;
        }

        .ng-zein-iten-link li.li {
            width: 100%;
        }

        .bdshare-button-style2-16 a, .bdshare-button-style2-16 .bds_more {
            float: initial;
        }

        .ng-zein-code {
            width: 100%;
        }

        .ng-zein-code-tit {
            width: 100%;
            text-align: center;
        }

    }

    .ft {
        opacity: 0;
    }

    @media screen and (max-width: 480px) {

        /*底部*/
        .ft {

            opacity: 1;

            padding: 20px 0 0 0;

            width: 100%;

            position: fixed;

            left: 0;

            bottom: 0;

            z-index: 9;

        }

        .ft ul {

            height: 0px;

        }

        .ft ul li {

            float: left;

            width: 100%;

            height: 50px;

            text-align: center;

            list-style-type: none;

            margin: 0px;

            padding: 0px;

        }

        .ft ul li span {

            display: block;

            color: #fff;

            font-size: 1.5em;

            font-family: "微软雅黑";

            line-height: 50px;

        }

        .ft a {

            color: #000;

            text-decoration: none;

        }

    }

    /*友情链接*/
    .lhy-flink {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .lhy-flink h1 {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
        line-height: 30px;
    }

    .lhy-flink ul {
        width: 100%;
        margin-top: 15px;
    }

    .lhy-flink ul li {
        display: inline;
        float: left;
        padding-right: 5px;
    }

    .lhy-flink ul li a:hover {
        color: #FCCA0F;
    }
</style>

<div class="am-end">
    <div class="container lhy-flink">
        <hr>
    </div>
    <div class="ng-fault ng-paddor">
        <div class="am-end-ini">
            <div class="ng-zein">
                <div class="ng-zein-iten">
                    <div class="ng-zein-iten-link">
                        <ul>
                            <li aos="fade-up" aos-anchor-placement="top-bottom" aos-delay="100">
                                <div class="ng-zeinkk">
                                    <a href="index.html" class="ng-zeinkk-ine">公司主页</a>
                                </div>
                            </li>

                            <li aos="fade-up" aos-anchor-placement="top-bottom" aos-delay="100">
                                <div class="ng-zeinkk">
                                    <a href="index-2.htm" class="ng-zeinkk-ine">文化石系列</a>
                                </div>
                            </li>

                            <li aos="fade-up" aos-anchor-placement="top-bottom" aos-delay="200">
                                <div class="ng-zeinkk">
                                    <a href="index-1.htm" class="ng-zeinkk-ine">花岗岩系列</a>
                                </div>
                            </li>

                            <li aos="fade-up" aos-anchor-placement="top-bottom" aos-delay="200">
                                <div class="ng-zeinkk">
                                    <a href="index-23.htm" class="ng-zeinkk-ine">公司简介</a>
                                </div>
                            </li>

                            <li aos="fade-up" aos-anchor-placement="top-bottom" aos-delay="300">
                                <div class="ng-zeinkk">
                                    <a href="index-19.htm" class="ng-zeinkk-ine">工程案例</a>
                                </div>
                            </li>

                            <li aos="fade-up" aos-anchor-placement="top-bottom" aos-delay="300">
                                <div class="ng-zeinkk">
                                    <a href="index-22.htm" class="ng-zeinkk-ine">联系我们</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="ng-zein-code" aos="fade-up" aos-anchor-placement="top-bottom" aos-delay="900">
                    <div class="ng-zein-code-img">
                        <img src="images/weixin.jpg" alt=""/>
                    </div>
                    <div class="ng-zein-code-tit">扫码添加微信报价</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ng-siobox ng-fault ng-paddor">
        <div class="am-end-ini">
            <div class="ng-siotext" aos="fade-up" aos-delay="400" aos-anchor-placement="top-bottom">
                <p>公司地址：江西省九江市庐山市横塘镇和平村 </p>
                <p>电话:13755265822(胡)</p>
                <p> Copyright &copy; 庐山市锦磊石材有限公司 版权所有 </p>
            </div>
        </div>
    </div>
</div>



<style>

    .lhy_popup {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: none;
        background: #fdfdfd;
    }

    .lhy_popup ul {
        width: 100%;
    }

    .lhy_popup ul li {
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: left;
        padding-left: 25px;
    }

    .lhy_popup ul li p {
        display: inline-block;
        line-height: 45px;
        margin-right: 25px;
    }

    .lhy_popup ul li.opoup_cancel {
        background: #ccc;
        text-align: center;
    }

</style>

<script src="js/jquery.min.js" ></script>


<script>

    $(function () {
        if ($(".flexslider").length != 0) {
            $('.flexslider').flexslider({
                animation: "fade",
                //smoothHeight: true,
                slideshowSpeed: 3000, // Integer: ms 滚动间隔时间
                animationSpeed: 600, // Integer: ms 动画滚动速度
                start: function (slider) {
                    //$('body').removeClass('loading');
                }
            });
        }
        resizebanner();
    });

    $(window).resize(function () {          //当浏览器大小变化时
        resizebanner();

    });

    function resizebanner() {
        if (screen.width <= 768) {
            $("#banner_pc").hide();
            $("#banner_mobile").show();
            $(".ny-banner-pc").hide();
            $(".ny-banner-mobile").show();
        } else {
            $("#banner_pc").show();
            $("#banner_mobile").hide();
            $(".ny-banner-pc").show();
            $(".ny-banner-mobile").hide();
        }
    }
</script>

<script src="js/jquery.min.js" ></script>
<script src="js/idangerous.swiper.min.js" ></script>
<script src="js/aos.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js"  type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.superslide.2.1.1.js"></script>
<script src="js/app.js" ></script>
<script src="js/jquery.flexslider-min.js" ></script>
</body>
</html>

